.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 320px;
  // background-color: #ffc100;
  background-color: #f9f9f9;
  // background: url(https://i.ytimg.com/vi/vFPWVCbDqTc/maxresdefault.jpg) no-repeat center center scroll;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  color: #fff;
  text-align: center;

  h1 {
    margin-bottom: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif !important;
    font-size: 24px !important;
    font-weight: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
  }
}

.worm {
  width: 240px;
  height: auto;
}

// A few global overrides to make things look nice
:global {
  .Block-content:last-child {
    margin-bottom: 100vh !important; // seems to override
  }
  .Block-content:first-child {
    margin-top: 100vh !important; // seems to not override ¯\_(ツ)_/¯
  }
  .Block.is-richtext,
  .scrollyteller-stage {
    background: #f9f9f9;
  }
  .embed-fragment {
    margin-bottom: 0;
  }
  // Space out content
  .is-piecemeal > .Block-content {
    margin-top: 52vh;
    margin-bottom: 52vh;
  }
}
