.wrapper {
  text-align: center;
  margin-bottom: 0;
}

.responsive-container {
  max-width: 600px;
  margin: auto;
}

.scaling-container {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
  /* override this inline for aspect ratio other than square */
}
.scaling-globe {
  display: block; // Fix whitespace gap at bottom
  // position: absolute;
  // height: 100%;
  // width: 100%;
  // left: 0;
  // top: 0;
}

// For click and drag to work over Block content paragraphs
.no-pointer {
  pointer-events: none !important;
}
